---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'home', url: '/' },
  { name: 'about', url: '/about/' },
  { name: 'posts', url: '/blog/' },
  { name: 'projects', url: '/project/' },
  { name: 'cv', url: '/cv.pdf' },
];

const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/getlar',
    icon: 'i-uil-github',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/a.takacs.tamas.m8/',
    icon: 'i-uil-instagram',
  },
  { name: 'LinkedIn', 
    url: 'www.linkedin.com/in/ranuon', 
    icon: 'i-uil-linkedin' },
];

const { pageTitle } = Astro.props;
---

<style>
  #flashing-slash {
    animation: flash 3s infinite;
  }

  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
  .a:hover {
    color: var(--flashing);
  }
</style>

<header class='border-b-2 border-textcolor flex justify-between p-4 items-center bg-navbg'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home' class='flex items-center'>
    <p class='outfit text-xl md:text-2xl lg:text-4xl text-textcolor'> &gt;/getlar/</p>
    <svg id="flashing-slash" width="30" height="30" viewBox="0 0 2 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="20" height="30" fill="var(--tcotta)"/>
    </svg>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {navigationItems.map((item) => (
        <li>
          <a
            class='text-lg font-medium hover:text-tcotta hover:underline transition-all duration-500 ease-in-out text-textcolor'
            href={item.url}
            title={`Go to ${item.name}`}
            target={item.name === 'cv' ? '_blank' : '_self'}
            rel={item.name === 'cv' ? 'noopener noreferrer' : undefined}
          >
            {item.name}
          </a>
        </li>
      ))}
      <li>
        <svg id="pipe" width="10" height="30" viewBox="0 0 2 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="30" fill="#333333"/>
        </svg>
      </li>
      {socialIcons.map((item) => (
        <li>
          <a
            href={item.url}
            class='hover:text-tcotta hover:underline transition-all duration-500 ease-in-out text-textcolor'
            target='_blank'
            title={`See @getlar on ${item.name}`}
          >
            <div class:list={[item.icon, 'w-6 h-6']} />
          </a>
        </li>
      ))}
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li><a href='/blog/'>Blog</a></li>
    </ul>
  </nav>
</header>

