---
import Layout from './Default.astro';
import BlogSideBar from '@components/blog/BlogSideBar.astro';
import BlogContent from '@components/blog/BlogContent.astro';
import RecentBlogPosts from '@components/blog/RecentBlogPosts.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content, headings } = Astro.props;
const { title, description } = content;
---

<head>
  <meta charset="utf-8" />
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
<main class="p-6 grid grid-cols-1 lg:grid-cols-7 gap-6 bg-bgcolor dark:bg-dark-bgcolor color-textcolor dark:color-dark-textcolor">
  <!-- BlogSideBar collapses to full width on small screens -->
  <aside class="hidden lg:block lg:col-span-2">
    <BlogSideBar headings={headings} />
  </aside>

  <!-- BlogContent takes full width on small screens -->
  <article class="col-span-1 lg:col-span-3">
    <BlogContent content={content}>
      <slot />
    </BlogContent>
  </article>

  <!-- Empty Right Column collapses on small screens -->
  <aside class="hidden lg:block lg:col-span-2"></aside>
</main>
  <div
  class="bg-bgcolor dark:bg-dark-bgcolor text-textcolor dark:text-dark-textcolor poppins flex justify-center"
  style="font-size: 12px; max-width: 100%; padding: 0 1rem; text-align: center;"
>
  Licensed under&nbsp;
  <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" class="text-tcotta dark:text-dark-tcotta">
    CC BY-NC-ND 4.0
  </a>
  . © Tamás Takács, 2025.
</div>
  <section class='p-6 bg-bgcolor dark:bg-dark-bgcolor'>
    <RecentBlogPosts count={3} title={title}/>
  </section>
  <div class="h-[3vh] bg-bgcolor dark:bg-dark-bgcolor"/>
</Layout>


